/* DEFAULT/MOBILE WIDTH */

@media screen and (max-width: 650px) {

}

.smallkitten { display: block; }
.largekitten { display: none; }

li {
    list-style-type: none;
}

.gamelist {
    border-bottom: red;
    padding: 10px;
}




/* FOR SCREEN SIZE 480PX AND ABOVE */

/* FOR SCREEN SIZE 800PX AND ABOVE */

/* FOR SCREEN SIZE BETWEEN 900PX AND 1200PX */

/* FOR SCREEN SIZE 1200PX AND ABOVE */

    