body {
    color: darkorchid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

p {
    color: deeppink;
}

li:nth-child(odd) {
    background-color: yellow;
}

a:link {
    color: slateblue;
    text-decoration: none;
    background-color: orange;
}

h1 {
    color: red;
}

h2 {
    background-color: skyblue;
}

img {
    box-shadow: 2px 1px red;
}

a:hover {
    background-color: turquoise;
}