/* CSS RESET*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ======= MOBILE CSS ======*/

h1 {
	font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 71px;
	color: white;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 48px;
	font-weight: bold;
	padding: 15px;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	font-weight: bold;
	padding: 15px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}


/* ====== HEADER ===== */
.header-menu {
	background-color: #222;
	width: 100%;
	margin: 0 auto;
}


.logo {
	background-color: #c78c06;
}

nav a {
	color: #c78c06;
	padding: 20px;
	font-size: 18px;
	text-decoration: none;
	display: block;
	text-align: center;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
}

nav li:nth-child(1) a {
	background-color: #c78c06;
	color: #222;
}

/* ===== SEARCH BAR ===== */

nav form {
	text-align: center;
	padding: 12px;
}

nav form .search{
	width: 95%;
	height: 25px;
}

nav form button {
	height: 25px;
	background-color: #222;
	border: solid 2.5px #c78c06;
}

/* ====== WELCOME SECTION ===== */

.welcome-button {
	background-color: #c78c06;
	border: none;
	font-size: 21px;
	color: #222;
	padding: 25px 25px;
}

.welcome-menu {
	background-image:url("../images/main-banner.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 10% 0;
}

.transparent-banner {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 15px;
}

.transparent-banner p{
	color: white;
	margin-bottom: 10px;
}

/* ===== END OF WELCOME SECTION =====*/

/* ===== ABOUT US SECTION ===== */

.about-menu {
	background-color: #ffe6ac;
	padding: 25px;
}

.about-menu img {
	width: 100%;
	height: auto;
}

.about-menu h2,p{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0px;
}

/* ===== END OF WELCOME SECTION ===== */

/* ===== OUR SERVICES ===== */

.our-services {
	padding-left: 1rem;
	padding-right: 1rem;
}

.digital-menu {
	background-color: #ffe6ac;
	margin-bottom: 25px;
}

.digital-menu img {
	width: 100%;
}

.digital-menu h3, p {
	padding: 10px;
}

.marketing-menu {
	background-color: #ffe6ac;
	margin-bottom: 25px;
}

.marketing-menu img {
	width: 100%;
}

.marketing-menu h3, p {
	padding: 10px;
}

.video-production-menu {
	background-color: #ffe6ac;
	margin-bottom: 25px;
}

.video-production-menu img {
	width: 100%;
}

.video-production-menu h3, p {
	padding: 10px;
}

.web-development-menu {
	background-color: #ffe6ac;
	margin-bottom: 25px;
}

.web-development-menu img {
	width: 100%;
}

.web-development-menu h3, p {
	padding: 10px;
}

.print-menu {
	background-color: #ffe6ac;
	margin-bottom: 25px;
}

.print-menu img {
	width: 100%;
}

.print-menu h3, p {
	padding: 10px;
}

.our-services-buttons {
	background-color: #222;
	color: white;
	padding: 25px 25px;
	font-size: 21px;
	margin-top: 1rem;
	margin-left: 1rem;
	margin-bottom: 1rem;
	border: none;
}

/* ===== END OF OUR SERVICES ===== */

/* ===== OUR VISION ===== */

.our-vision-menu {
	background-image:url("../images/vision.jpg");
	background-size: cover;
	background-position: center;
	color: white;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
}

.vision-button {
	background-color: #222;
	color: white;
	border: 1px solid #c78c06;
	padding: 25px 25px;
	font-size: 21px;
	margin-top: 1rem;
	margin-left: 1rem;
	margin-bottom: 1rem;
}

/* ===== CONTACT US ===== */

form {
    margin: 15px;
}

.thanks_form {
    display: block;
    width: 98%;
    margin: 5px;
}

.message {
    height: 100px;
}

.send {
    display: block;
    margin: 5px;
	background: #222;
	color: #c78c06;
}

/* ===== HOURS OF OPERATION ===== */

.hours {
	background: white;
}

table {
	width: 100%;
}


table, th, td {
	border: solid #222 1px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	padding: 15px;
}

th {
	background: #ffe6ac;
}

/* ===== END OF HOURS OF OPERATION ===== */

/* ===== MAP =====*/

iframe {
	margin: 0 auto;
	width: 100%;
}


hr {
	color: #c78c06;
	height: 3px;
	border: none;
	background-color: #c78c06;
}

/* ===== Footer =====*/

footer {
	background-color: #222;
	color: #c78c06;
	padding: 10px;
	font-size: 10px;
}


footer a {
	color: #c78c06;
}

/* ===== DESKTOP SECTION ====== */

@media screen and (min-width: 760px){
	nav {
		display: flex;
		
	}
	ul {
		display: flex;
		align-items: center;
		margin-left: 5rem;
	}
	.our-services {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}
	.digital-menu {
		grid-column-start: 1;
		grid-column-end: 4;
		grid-row-start: 1;
		grid-row-end: 2;
	}
	.marketing-menu {
		grid-column-start: 4;
		grid-column-end: 7;
		grid-row-start: 1;
		grid-row-end: 2;
	}
	.video-production-menu {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 2;
	}
	.web-development-menu {
		grid-column-start: 3;
		grid-column-end: 5;
		grid-row-start: 2;
		grid-row-end: 2;
	}
	.print-menu {
		grid-column-start: 5;
		grid-column-end: 7;
		grid-row-start: 2;
		grid-row-end: 2;
	}

	.our-services {
		padding-left: 5rem;
		padding-right: 5rem;
	}
  }